name: Build image

on:
  push:
    branches:
      - GA-*
      - dev/**
      - main

jobs:
  tests:
    name: Run tests and lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.0'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          python -m pytest

    # Temploraly disabled
    #   - name: Run linter
    #     run: |
    #       pip install flake8
    #       flake8 .

  build:
    name: Build image
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build container image
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: |
            harbor.remystorage.ru/git-analyze/executor:latest
          file: ./Dockerfile
